body {
    color: indigo;
    font-size: 2rem;
    font-family: serif;
    font-style: italic; 
    padding-top: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: hotpink;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: red;
  }

  ol {
    list-style-type: upper-roman;
    background: rgb(83, 238, 83);
    padding: 20px;
  }
  
  ul {
    list-style-type: square;
    background: #cf33ff;
    padding: 20px;
  }
  
  ol li {
    background: #d2ebb1;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #e5aeec;
    margin: 5px;
  }

  img.floating{
    float: left;
    width:250px;
    height:250px;
  }

  table{
    outline: #ca7b21 dashed 15px;
  }

  .table_fields{
      text-decoration: wavy;
      background-color: rgb(182, 197, 115);
  }

  #table_caption{
      background-color: rgb(20, 209, 200);
  }
  
  .courses_left{
      text-align: left;
  }

  .marks_right{
    text-align: right;
}

