body {
    background-color: lightcyan;
    color: hotpink;
  }
  
  h1 {
    color: red;
    text-align: left;
  }
  
  h2{
      color: green;
  }

  p {
    font-family: verdana;
    font-size: 10px;
  }