body {
    color: indigo;
    font-size: 2rem;
    font-family: serif;
    font-style: italic; 
    padding-top: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: hotpink;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: red;
  }

  ol {
    list-style-type: upper-roman;
    background: rgb(83, 238, 83);
    padding: 20px;
  }
  
  ul {
    list-style-type: square;
    background: #cf33ff;
    padding: 20px;
  }
  
  ol li {
    background: #d2ebb1;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #e5aeec;
    margin: 5px;
  }

  img{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 8px;
    display: none;
  }

  table{
    outline: #ca7b21 dashed 15px;
  }

  div.static {
    position: static;
    border: 3px solid #8ff106;
  }

